.tasks {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
  
#tasks-table {
    margin-top: 50px;

    font-size: 20px;

    width: 800px;
}

#tasks-table th, #tasks-table td {
    padding: 5px 0;

    border-bottom: 1px solid #dedede;
}

.tasks-container input {
    margin-top: 50px;
    padding-left: 5px;

    width: 300px;
    height: 34px;

    border-radius: 2px;

    text-decoration: none;

    border: 1px solid #313030;
    outline: none;

    font-size: 18px;
    font-family: inherit;
}
  
.tasks button {
    height: 35px;
    width: 90px;

    border: 1px solid #313030;
    border-radius: 4px;

    font-weight: bold;
    font-size: 17px;

    cursor: pointer;

    background-color: lightcoral;
    color: #313030;

    outline: none;
}

.tasks-container button {
    margin-left: 5px;
}

.red-color {
    color: #ff0000;
}

.green-color {
    color: #008000;
}

